@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
    --bright-orange: hsl(31, 77%, 52%);
    --grayish-blue: hsla(227, 10%, 46%, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    min-height: 100vh;
    background: var(--dark-cyan);
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: bottom 36vh right 50vw, top 43vh left 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Kumbh Sans", sans-serif;
    color: var(--very-dark-desaturated-blue);
    text-align: center;
}

.card-container {
    width: 325px;
    height: 375px;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    background-image: url(../images/bg-pattern-card.svg);
    background-position-x: center;
    display: grid;
    grid-template-rows: 140px 147px 88px;
    grid-template-areas:    "top"
                            "info"
                            "stats";
    justify-items: stretch;
    margin-top: 6rem;
    box-shadow: 0 0 6rem var(--grayish-blue);
}

.card-top {
    grid-area: "top";
}

.profile-pic {
    border-radius: 50%;
    border: 5px solid white;
    position: absolute;
    width: 106px;
    left: 50%;
    margin-left: -53px;
    top: 140px;
    margin-top: -53px;
}

.profile-info {
    grid-area: "info";
    background: white;
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.profile-name {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 4rem;
}

.profile-age {
    color: var(--dark-grayish-blue);
    font-weight: 400;
    text-indent: 1rem;
}

.profile-location {
    font-size: 1.4rem;
    color: var(--dark-grayish-blue);
    font-weight: 400;
}

.profile-stats {
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-area: "stats";
    padding: 0 3.5rem;
}

.stats-container {
    width: 70px;
}

.stats-value {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.8rem;
}

.stats-heading {
    color: var(--dark-grayish-blue);
    line-height: 1.6rem;
    font-size: 0.9rem;
    letter-spacing: 2px;
}

.attribution {
    margin-top: 3rem;
    line-height: 3rem;
    font-size: 1.2rem;
    text-align: center;
}

.attribution a {
    color: #FF8E9C;
}

@media (min-width: 769px) {
    
    body {
        background-position: bottom 34vh right 52vw, top 52vh left 48vw;
    }

    .card-container {
        width: 350px;
        height: 375px;
    }

    .profile-stats {
        padding: 0 4.2rem;
    }


}